* {
    font-family: poppins, sans-serif;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid:focus~.invalid-feedback,
.form-control.is-invalid~.invalid-feedback {
    display: block;
}